
<div class="background-gradient"></div>
<div class="container">
  <div class="row">
    <div class=" about-content col-md-6 col-12 order-2 order-md-1 mb-4">
      <div class="d-flex flex-column justify-content-center text-white px-4 py-5 h-100">
        <h1 class="display-5 fw-bold mb-4 text-gradient">À propos:</h1>
        <h2 class="fw-semibold text-white mb-3">ANDRIANJAFIMALALA Harimanantsoa Fanoela</h2>
        <p class="text-light mb-3">🇲🇬 Malagasy</p>
        <h4 class="fw-normal text-white mb-4">
          <img
            src="icons/diploma-svg.svg"
            width="50"
            height="50"
            class="me-2"
          />Ingénieur en informatique polyvalent
        </h4>
        <p class="text-light mb-3">
          Développeur fullstack passionné par la technologie et les projets à fort impact. 
          Je suis curieux, rigoureux, et toujours prêt à relever de nouveaux défis.
        </p>
      </div>
    </div>

    <div class="col-md-7 col-12 order-1 order-md-2">

    </div>
  </div>
</div> 

