.main-page {
    background-color: rgb(66, 88, 88);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1rem; /* pour éviter que le contenu touche les bords */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* IMPORTANT : scroll si nécessaire */
    z-index: 1050;
}

.modal-page {
    background-color: rgb(55, 118, 171);
    border-radius: 12px;
    max-width: 75vw;
    min-width: 75vw;
    max-height: 90vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.modal-content {
    pointer-events: auto; /* 👈 important */
    background-color: rgb(55, 118, 171);
    min-height: 90vh;
    max-height: 90vh;
    max-width: 75vw;
    min-width: 75vw;
}

// .modal-content {
//     display: flex;
//     flex-direction: column;
// }
// .modal-content {
//   overflow-y: auto;
//   max-height: 90vh; /* ✅ pour que le contenu reste visible */

//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE 10+ */
// }


